.DS_Store
.ipynb_checkpoints/*
notebooks/OOPs/.ipynb_checkpoints/*.*
notebooks/Advanced/.ipynb_checkpoints/*.*
notebooks/Basics/.ipynb_checkpoints/*.*
notebooks/Advanced/LeetCode_Examples/Leetcode_1/.ipynb_checkpoints/*.*
pre-requisites/.ipynb_checkpoints/*.*
notebooks/Basics/.ipynb_checkpoints/*.*
notebooks/Basics/.ipynb_checkpoints/basic_python_programming_1-checkpoint.ipynb
notebooks/OOPs/Find_Roots_Quadratic/.ipynb_checkpoints/*.*
notebooks/OOPs/Find_Area_Of_Circle/circle_project/tests/__pycache__/*.*
notebooks/OOPs/Find_Roots_Quadratic/quadratic_equation_project/tests/__pycache__/*.*
notebooks/OOPs/QR_Code_Generator/.ipynb_checkpoints/*.*
