.DS_Store
.ipynb_checkpoints/*
notebooks/OOPs/.ipynb_checkpoints/*.*
notebooks/Advanced/.ipynb_checkpoints/*.*
notebooks/Basics/.ipynb_checkpoints/*.*
notebooks/Advanced/LeetCode_Examples/Leetcode_1/.ipynb_checkpoints/*.*
pre-requisites/.ipynb_checkpoints/*.*
notebooks/Basics/.ipynb_checkpoints/*.*
notebooks/Basics/.ipynb_checkpoints/basic_python_programming_1-checkpoint.ipynb
